@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.j{
    font-family: "VT323", monospace;
    color: white;
    position: relative;
    display: block;
    justify-content: center;
}